body {
  background-color: snow;
}
.header {
  color: black;
  font-weight: bold;
}
select,
.num1 {
  width: 170px;
  height: 40px;
  border-radius: 6px;
}
.main-conataint {
  height: 400px;
  background-color: white;
  width: 250px;
  padding-left: 40px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn {
  color: white;
  background-color: rgb(2, 18, 74);
  border: none;

  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 120px;
  border-radius: 60px;
  cursor: pointer;
}
.symbol {
  width: 20px;
  height: 30px;
}
.results {
  background-color: green;
  width: 120px;
}
#result1 {
  color: white;
  padding-left: 6px;
}
